/* ==========================================================================
 # Image block
========================================================================== */

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-image,
.wysiwyg .wp-block-image {

  margin-top: $gap-semi-big; // $gap;
  margin-bottom: $gap-semi-big; // $gap;
  text-align: center;
  @include wrap; // centered -> 1216px, for old posts converted from classic

  img {
    display: inline-block;
    line-height: 0;
  }

  // wide width
  &.alignwide {
    figure, img {
      width: 100%;
    }
  }

  &.alignfull {
    margin-top: $gap-semi-big;
    margin-bottom: $gap-semi-big;
    figcaption {
      padding-left: $gap;
      padding-right: $gap;
      max-width: $content-default-width;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // floated to side
  figure {
    margin-top: 0;
  }

  // caption
  figcaption {
    color: $base-font-color;
    display: block;
    margin-top: $gap-tiny;
    margin-bottom: $gap;
    font-size: .9375rem;
  }

}

/* Only front-end
----------------------------------------------- */

// image block
.wysiwyg .wp-block-image {

}

// classic editor images
.wysiwyg .wp-caption {
  @extend .wp-block-image;
}

/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-image {

}

/* Instagram Embed
----------------------------------------------- */

iframe.instagram-media {
	margin: 0 auto !important;
}


/* Reissuesan matkablogi -image
----------------------------------------------- */

#reissuesan-matkablogi-small {
  padding-left: 1rem;
}

#reissuesan-matkablogi-big {
  display: none;
}

@media screen and (min-width: 500px) {
  #reissuesan-matkablogi-big {
    display: block;
  }
  #reissuesan-matkablogi-small {
    display: none;
  }
}
