/* ==========================================================================
 # Page
========================================================================== */

.page {

  .site-header__container {
    max-width: 1500px;
  }

  .feedzy-rss {
    max-width: 1500px;

    @include breakpoint($s) {
     padding-left: $gap;
     padding-right: $gap;
    }
    a {
      color: #333;
    }
    .rss_item {
      margin: .7rem;
      border-bottom: 0 solid #999;
      .rss_image {
        margin: 0 0 .6rem 0;
      }
    }
  }
  .feedzy-rss ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li.rss_item {
      flex: 0 1 266px;
      font-size: .95rem;
      padding: 0 !important;
      .title {
        a {
          color: #333;
          font-size: 1.1rem;
          line-height: 1.1;
        }
      }
      small {
        margin-top: .2rem;
      }
      p {
        margin-top: .5rem;
        font-size: .95rem;
        line-height: 1.2;
      }
    }
  }
}

.entry--page {

}


/* ACF Custom Map */

#google-container {
  position: relative;
  width: 100%;
  height: 400px;
  // background-color: #e7eaf0;
  margin-top: 2.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.wysiwyg .koh-lanta {
  max-width: 1216px;
}

.wysiwyg .kazakstan-georgia {
  max-width: 1216px;  
}

@media only screen and (min-width: 768px) {
  #google-container {
    height: 600px;
  }
}
@media only screen and (min-width: 1170px) {
  #google-container {
    height: 700px;
  }
}

#cd-google-map {
  position: relative;
}

#cd-google-map address {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: .25em 1em;
  background-color: #009688;
  color: white;
  font-size: 13px;
  font-size: 0.8125rem;
}

@media only screen and (min-width: 768px) {
  #cd-google-map address {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center;
  }
}

#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  // background-color: #009688;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../img/cd-icon-controller.svg");
 }
.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
  background-color: #009688;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in, #cd-zoom-out {
    margin-left: 50px;
  }
}

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in {
    margin-top: 50px;
  }
}

#cd-zoom-out {
  background-position: 50% -32px;
}

.acf-map {
  width: 100%;
  height: 600px;
  border: #ccc solid 1px;
  margin: 2rem auto 1rem auto;
}
/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

.acf-map a {
  font-weight: 700;
}

/*
.wysiwyg .acf-map {
  max-width: 100%;
}
*/

.travelblog-wrapper {
  display: grid;
  align-items: center;
  // padding: 4px 10px 4px 10px;
  grid-template-columns: [no] 25px [blogi] auto [information] 14px [instagram] 11px [facebook] 12px [twitter] 12px [video] 16px [pinterest] 12px;
  grid-template-rows: minmax(30px, auto); //26.364
  grid-column-gap: 10px;
  border-bottom: 1px solid lightgrey;
}

/* start: results table with css grid */
@media screen and (min-width: $query__medium) {
.travelblog-wrapper {
  display: grid;
  align-items: center;
  // padding: 4px 10px 4px 10px;
  grid-template-columns: [no] 25px [blogi] auto [information] 20px [instagram] 20px [facebook] 20px [twitter] 20px [video] 20px [pinterest] 20px;
  grid-template-rows: minmax(30px, auto); //26.364
  grid-column-gap: 10px;
  border-bottom: 1px solid lightgrey;
  }
}

.box.no {
  justify-self: end;
  color: grey;
}

.small {
  font-size: 14px;
  color: #444;
}

.box.empty a {
  color: #f0f0f0;
}

.travelblog-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  font-size: 15px;
  line-height: 1.2;
}

@media (min-width: 700px) {
  .wide {
      display: inline;
  }
  .results-wrapper {
      grid-column-gap: 10px;
  }
}

.svg-inline--fa  {
 //vertical-align: .001rem;
}
