/* ==========================================================================
 # Single
========================================================================== */

.single {

  .entry {

    &__footer {

      .cat-links, .tags-links, .social-share {
        @include wrap;
        @include narrow-content;
        margin-left: auto;
        margin-right: auto;
      }
    }

  }

}

.single-travelblog {
  .feedzy-rss, .site-header__container {
    max-width: 1500px;

    @include breakpoint($s) {
     padding-left: $gap;
     padding-right: $gap;
    }
    a {
      color: #333;
    }
    .rss_item {
      margin: .7rem;
      border-bottom: 0 solid #999;
      .rss_image {
        margin: 0 0 .6rem 0;
      }
    }
  }
  .feedzy-rss ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li.rss_item {
      flex: 0 1 200px;
      font-size: .95rem;
      padding: 0 !important;
      .title {
        a {
          color: #333;
          font-size: 1.1rem;
          line-height: 1;
        }
      }
      small {
        margin-top: .2rem;
      }
      p {
        margin-top: .5rem;
        font-size: .95rem;
        line-height: 1.2;
      }
    }
  }

  .feed-title {
    a {
      color: #333;
      font-size: 1.1rem;
      line-height: 1;
    }
  }
  .feed-description {
    margin-top: 0.25em;
    padding-left:0;
    margin-left:0;
    border-left:0 solid #eee;
    font-size: .95rem;
    line-height: 1.2;
  }
  .feed-lists {
    padding-left:0;
    max-width: 1300px;
  }
  .feed-item-image {
    width:250px;
    height: 250px;
    -o-object-fit: cover;
     object-fit: cover;
    margin-left: 0;
    margin-bottom: 0.25em;
  }
  ul.feed-lists {
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  li.feed-item {
    flex: 0 1 250px;
    padding-right: 1em;
    padding-bottom: 1.5em;
  }

}

.entry__content.wysiwyg.travelblog {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  ul {
    padding-left: 0;
  }
  .wp_rss_retriever li {
    margin-bottom: 20px;
    .wp_rss_retriever_container {
      font-size: 15px;
    }
  }
}

a.instagram {
  color: #C32AA3;
}

a.facebook {
  color: #3B5998;
}

a.twitter {
  color: #1DA1F2;
}

a.youtube {
  color: #FF0000;
}

a.pinterest {
  color: #BD081C;
}

a.instagram, a.facebook, a.twitter, a.youtube, a.pinterest {
  font-size: 22px;
  line-height: 1.2;
}

a.information {
  font-size: 20px;
  line-height: 1.2;
}

.travelblog {
  a.instagram, a.facebook, a.twitter, a.youtube, a.pinterest {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
}


// Related Posts Plugin

.wysiwyg .rpbt_shortcode, .entry__footer .rpbt_shortcode {
  padding-top: $gap-tiny;

  /*
  h3 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
  }
  */

  figure {
    position: relative;
    img {
      object-fit: cover;
      width: 360px;
      height: 202px;
    }

    figcaption {
      position: absolute;
      left: $gap-small;
      bottom: $gap-small;
      color: $white;
      max-width: 340px;
      text-shadow: 1px 1px 1px $black;
      //font-size: 1.125rem;
      font-weight: $bold;
    }
  }

}
