/* ==========================================================================
 # Wrap mixins
========================================================================== */

// wrap outer containers (width, padding, center)

/*
@mixin wrap {
  max-width: #{$max-width-l + 2*$gap};
  padding-left:  $gap;
  padding-right: $gap;
  margin-left:  auto;
  margin-right: auto;
  width: 100%;
}

@mixin narrow-content {
  max-width: #{$max-width-m + 2*$gap};
}
*/

// wrap outer containers (width, padding, center)
@mixin wrap {
  max-width: 76rem; // 1216px
  /*
  max-width: #{$max-width-l + 2*$gap};
  padding-left:  $gap;
  padding-right: $gap; */
  margin-left:  auto;
  margin-right: auto;
  width: 100%;
}

@mixin wrap-l {
  max-width: #{$max-width-l + 2*$gap};
  padding-left:  0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


// narrow content
@mixin narrow-content {
  max-width: #{$max-width-m + 2*$gap};
}


