
/* ==========================================================================
 # Layout
========================================================================== */

.site-content {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}


@media screen and (min-width: $query__medium) {

  .primary--index.frontpage {
    max-width: 100%;
  }

  .home.page, {
    #primary {
      width: 100%;
    }
  }

  .page  { //, .home, .archive

    .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: $max-width-l;
      margin-left: auto;
      margin-right: auto;
    }

    #primary {
      width: $size__ratio-large;
    }

    #secondary {
      width: $size__ratio-small;
    }

  }
}

#primary.no-sidebar {
  width: 100%;
}

#secondary.no-sidebar {
  width: 0%;
}

.primary {

  padding-top: $gap-big;

.flex-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $max-width-l;
  .firstpost {
    width: 800px;
    flex: 1 1 auto;
  }
}

  /* -------------------------------------------------------
    Pages
  ---------------------------------------------------------*/

  &--page {

    .main {
      //@include narrow-content;
    }

  }

  /* -------------------------------------------------------
    Singular
  ---------------------------------------------------------*/

  &--single {

    .main {
      //@include narrow-content;
    }

  }

  /* -------------------------------------------------------
    Search
  ---------------------------------------------------------*/

  &--search {

    @include wrap;

  }

  /* -------------------------------------------------------
    Index & archives
  ---------------------------------------------------------*/

  &--index {

    @include wrap;

  }

  /* -------------------------------------------------------
    404
  ---------------------------------------------------------*/

  &--404 {

    @include wrap;

    .main {
      max-width: 40rem;
      margin-left: auto;
      margin-right: auto;
    }

  }

}




