/* ==========================================================================
 # Header
========================================================================== */

.site-header__branding__title {
  margin-top: $gap-semi-big;
  margin-bottom: $gap-semi-big;
  @include breakpoint($menu-hidden) {
    padding-right: $gap-small;
  }
}

@media (min-width: $query__medium) {
  .site-header__branding__title {
    margin-top: $gap-semi-big;
    margin-bottom: $gap-semi-big;
  }
}

.site-header {
  padding-top: 0; // 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1rem; //
  @include breakpoint($menu-visible) {
    align-items: center;
    display: flex;
    padding-top: 0; // 1.75rem;
    padding-bottom: 1.75rem;
  }

  &__container {
    @include wrap;
    @include breakpoint($menu-visible) {
      align-items: center;
      // display: flex;
      display: block;
      // justify-content: space-between;
    }
  }

  &__branding {
    @include breakpoint($menu-visible) {
      padding-right: $gap;
      &__logo {
        width: 5rem;
      }

    }
    @include breakpoint($menu-hidden) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__logo {
        width: 5rem;
      }
    }

    &__title {
      display: flex; // block
      justify-content: center;
      line-height: 0;
      a {
        display: block;
        line-height: 0;
      }
    }
  }
}

/* Instagram Feed -plugin */

#ig-top, #ig-bottom {
	display: none;
}

@media (min-width: $menu-visible) {
	#ig-top, #ig-bottom {
    display: flex;
    justify-content:center;
    height: 10vw;
    max-height: 192px;
  }
}

/* Plugins: Smart Slider 3
----------------------------------------------- */

.n2-section-smartslider {
  display: none;
}

@media screen and (min-width: $query__small) {
  .n2-section-smartslider {
    display: block;
    margin-bottom: 40px;
  }
}
